site_name: Stack-JavaScript
repo_url: "https://github.com/juniormarans/StackJavaScript/tree/main"

repo_name: "Stack-JavaScript"
edit_uri: "tree/main/backend/docs"

theme:
  features:
    - content.code.copy
  name: material
  language: pt-BR
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    - primary: yellow
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
markdown_extensions:
- attr_list
- admonition
- pymdownx.tasklist
- pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
- toc:
    permalink: "#"
    baselevel: 1
extra_css:
- stylesheets/extra.css
- stylesheets/material.css
- stylesheets/mkdocstrings.css

plugins:
- toc-md:
    toc_page_title: 'Sum치rio'
    header_level: 4
    pickup_description_meta: false
    pickup_description_class: false
    output_path: sum치rio.md
    output_log: true
    ignore_page_pattern: sum치rio.md
    remove_navigation_page_pattern: sum치rio.md
- search
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths: [.]
        options:
          docstring_options:
            ignore_init_summary: yes
          merge_init_into_class: yes
          show_submodules: no
          show_root_full_path: no
          show_source: yes
          show_bases: yes
          show_signature: no
          show_signature_annotations: no
          separate_signature: no

extra:
  commands:
    run: uvicorn app:app --reload --host 0.0.0.0 --port 7000 --proxy-headers --forwarded-allow-ips
